@page "/pizzas-toppings"
@using BlazingPizza;

<h1>Our Latest Pizzas and Topping</h1>

<Pizza PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

@code {
    [Parameter]
    public PizzaTopping Topping { get; set; }
}